In [73]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import category_encoders as ce
from sklearn import preprocessing
import numpy as np

In [84]:
df = pd.read_csv('data_final.csv')
print(f"df shape: {df.shape}\ncolumns: {df.columns}")
target = 'Item_Outlet_Sales'
df.head(1)

df shape: (8523, 36)
columns: Index(['Low_Fat', 'Regular', 'Dairy', 'Soft_Drinks', 'Meat',
       'Fruits_Vegetables', 'Household', 'Baking', 'Snack', 'Fronzen_Foods',
       'Breakfast', 'Health_Hygiene', 'Hard_Drinks', 'Canned', 'Breads',
       'Starchy', 'Others', 'Seafood', 'Item_MRP', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales',
       'Item_Weight', 'Item_Visibility', 'Outlet_Year', 'Item_Identifier_8',
       'Item_Identifier_6', 'Item_Identifier_7', 'Item_Identifier_3',
       'Item_Identifier_5', 'Item_Identifier_4', 'Item_Identifier_9',
       'Item_Identifier_2', 'Item_Identifier_1', 'Outlet_Freq'],
      dtype='object')

,Low_Fat,Regular,Dairy,Soft_Drinks,Meat,Fruits_Vegetables,Household,Baking,Snack,Fronzen_Foods,...,Item_Identifier_8,Item_Identifier_6,Item_Identifier_7,Item_Identifier_3,Item_Identifier_5,Item_Identifier_4,Item_Identifier_9,Item_Identifier_2,Item_Identifier_1,Outlet_Freq
0,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0.963676